= form_for [@project, @issue], :html => { :class => 'form-horizontal' } do |f|
  .control_group
    = f.label :title
    .controls
      = f.text_field :title
  .control_group
    = f.label "Description"
    .controls
      = f.text_area :body
  .control_group
    = f.label :labels
    .controls
      = f.text_field :labels
  .control_group
    = f.label :milestone
    .controls
      = f.text_field :milestone
  .form-actions
    = f.submit nil, :class => "btn btn-primary"
