.control_group
  = locals[:f].label :title
  .controls
    = locals[:f].text_field :title
.control_group
  = locals[:f].label "Description"
  .controls
    = locals[:f].text_area :body
.control_group
  = locals[:f].label :labels
  .controls
    = locals[:f].text_field :labels
.control_group
  = locals[:f].label :milestone
  .controls
    = locals[:f].text_field :milestone
.form-actions
  = locals[:f].submit nil, :class => "btn btn-primary"
