= render 'header'
.page-header
  %h1 Listing issues

%table{ :class => "table table-striped" }
  %thead
    %tr
      %th Number
      %th Title
      %th Description
      %th Assignee
      %th Labels
      %th Milestone
      %th 
      %th 
      %th 
  - @issues.each do |issue|
    %tbody
      %tr
        %td= issue.number
        %td= issue.title
        %td= issue.body
        %td= issue.assignee
        %td= issue.labels
        %td= issue.milestone
        %td= link_to 'Show', project_issue_path(@project, issue.number), :class => "btn btn-mini"
        %td= link_to 'Edit', edit_project_issue_path(@project, issue.number), :class => "btn btn-mini"
        %td= link_to 'Close', project_issue_path(@project, issue.number), :method => :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger"
/= link_to "HERE", @authorize_url