= render 'header'

%p#notice= notice

%dl{ :class => "dl-horizontal" }
  %dt Title:
  %dd= @issue.title 

  %dt Description:
  %dd= @issue.body

  %dt Labels:
  %dd= @issue.labels

  %dt Milestone:
  %dd= @issue.milestone 
