= render 'header'
.page-header
  %h1 Listing todo lists

%table{ :class => "table table-striped" }
  %thead
    %tr
      %th Name
      %th 
      %th 
      %th 
  - @todo_lists.each do |todo_list|
    %tbody
      %tr
        %td= todo_list.name
        %td= link_to 'Show', project_todo_list_path(@project, todo_list), :class => "btn btn-mini"
        %td= link_to 'Edit', edit_project_todo_list_path(@project, todo_list), :class => "btn btn-mini"
        %td= link_to 'Destroy', project_todo_list_path(@project, todo_list), :method => :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger"