= form_tag project_boxes_path(@project) do -
  .control-group
    = label_tag :app_name
    .controls
      = text_field_tag :app_name
  .control-group
    = label_tag :app_key
    .controls
      = text_field_tag :app_key
  .control-group
    = label_tag :app_secret
    .controls
      = text_field_tag :app_secret
  .form-actions
    = submit_tag nil, :class => "btn btn-primary"
