= render 'header'

%p#notice= notice

%dl{ :class => "dl-horizontal" }
  %dt  Name:
  %dd= @box.app_name

  %dt  app_secret:
  %dd= @box.app_secret

  %dt  Auth_token:
  %dd= @box.auth_token

%div
  = @client.ls