= form_for setup_client(@client), :html => { :class => 'form-horizontal' } do |f|
  - if @client.errors.any?
    #error_explanation
      %h2
        = pluralize(@client.errors.count, "error")
        prohibited this client from being saved:
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg
  .control_group
    = f.label :name
    .controls
      = f.text_field :name
  = f.fields_for :contacts do |ff|
    .control_group
      = ff.label :firstname
      .controls
        = ff.text_field :firstname
    .control_group
      = ff.label :lastname
      .controls
        = ff.text_field :lastname
    .control_group
      = ff.label :email
      .controls
        = ff.text_field :email
    .control_group
      = ff.label :phone
      .controls
        = ff.text_field :phone
    .control_group
      = ff.label "Commentaire contact:"
      .controls
        = ff.text_area :other_data
  .control_group
    = f.label :street
    .controls
      = f.text_field :street
  .control_group
    = f.label :zip
    .controls
      = f.text_field :zip
  .control_group
    = f.label :town
    .controls
      = f.text_field :town
  .form-actions
    = f.submit nil, :class => "btn btn-primary"
