= form_for(setup_client(@client)) do |f|
  - if @client.errors.any?
    #error_explanation
      %h2
        = pluralize(@client.errors.count, "error")
        prohibited this client from being saved:
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  = f.fields_for :contacts do |ff|
    .field
      = ff.label :firstname
      %br/
      = ff.text_field :firstname
    .field
      = ff.label :lastname
      %br/
      = ff.text_field :lastname
    .field
      = ff.label :email
      %br/
      = ff.text_field :email
    .field
      = ff.label :phone
      %br/
      = ff.text_field :phone
    .field
      = ff.label "Commentaire contact:"
      %br/
      = ff.text_area :other_data
  .field
    = f.label :street
    %br/
    = f.text_field :street
  .field
    = f.label :zip
    %br/
    = f.text_field :zip
  .field
    = f.label :town
    %br/
    = f.text_field :town
  .actions
    = f.submit
