= render 'header'
.page-header
  %h1 Listing clients
%table{ :class => "table table-striped" }
  %thead
    %tr
      %th Name
      %th Street
      %th Zip
      %th Town
      %th
      %th
      %th
  - @clients.each do |client|
    %tbody
      %tr
        %td= client.name
        %td= client.street
        %td= client.zip
        %td= client.town
        %td= link_to 'Show', client, :class => "btn btn-mini"
        %td= link_to 'Edit', edit_client_path(client), :class => "btn btn-mini"
        %td= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger"
