= render 'header'
%h1 Listing clients
%table
  %tr
    %th Name
    %th Street
    %th Zip
    %th Town
    %th
    %th
    %th
  - @clients.each do |client|
    %tr
      %td= client.name
      %td= client.street
      %td= client.zip
      %td= client.town
      %td= link_to 'Show', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Client', new_client_path
