= render 'header'

%p#notice= notice

%dl{ :class => "dl-horizontal" }
  %dt  Name:
  %dd= @client.name

  %dt  Street:
  %dd= @client.street

  %dt  Zip:
  %dd= @client.zip

  %dt  Town:
  %dd= @client.town

  - @client.contacts.each do |contact|
    %dt  Firstname:
    %dd= contact.firstname

    %dt  Lastname:
    %dd= contact.lastname

    %dt  Email:
    %dd= contact.email

    %dt  Phone:
    %dd= contact.phone

    %dt  Commentaire contact:
    %dd= contact.other_data