%div.field
  = locals[:f].label "#{locals[:time]} :"
  %br/
  = locals[:f].fields_for :"#{locals[:time]}" do |ff|
    = ff.select "year", ("2007".."2122").to_a
    = ff.select "month", ("01".."12").to_a
    = ff.select "day", ("01".."31").to_a
    %br/
    = ff.select "hours", ("00".."24").to_a
    h
    = ff.select "mins", ("00".."59").to_a