.control-group
  = locals[:f].label "#{locals[:time_str]}"
  .controls
    = locals[:f].fields_for :"#{locals[:time_str]}" do |ff|
      = timetable_select(ff, "year", "2007".."2122", locals[:time])
      = timetable_select(ff, "month", "01".."12", locals[:time])
      = timetable_select(ff, "day", "01".."31", locals[:time])
      %br/
      = timetable_select(ff, "hours", "00".."24", locals[:time])
      h
      = timetable_select(ff, "mins", "00".."59", locals[:time])