.control_group
  = locals[:f].label :title
  .controls
    = locals[:f].text_field :title
= render 'datetime_select', :locals => {f: locals[:f], time_str: "start_time", time: @event.start_time}
= render 'datetime_select', :locals => {f: locals[:f], time_str: "end_time", time: @event.end_time}
.control_group
  = locals[:f].label :all_day
  .controls
    = locals[:f].check_box :all_day
.control_group
  = locals[:f].label :where
  .controls
    = locals[:f].text_field :where
.control_group
  = locals[:f].label :description
  .controls
    = locals[:f].text_area :description
.form-actions
  = locals[:f].submit nil, :class => "btn btn-primary"
