= form_for([@project, @event]) do |f|
  .field
    = f.label :title
    %br
    = f.text_field :title
  = render 'datetime_select', :locals => {f: f, time: "start_time"}
  = render 'datetime_select', :locals => {f: f, time: "end_time"}
  .field
    = f.label :all_day
    %br
    = f.check_box :all_day
  .field
    = f.label :where
    %br
    = f.text_field :where
  .field
    = f.label :description
    %br
    = f.text_area :description
  .actions
    = f.submit
