<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Starts at:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>Ends at:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>All day:</b>
  <%= @event.all_day %>
</p>

<p>
  <b>Where:</b>
  <%= @event.where %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_project_event_path(@project, @event.id) %> |
<%= link_to 'Back', project_events_path(@project) %>
