= render 'header'

%p#notice= notice

%dl{ :class => "dl-horizontal" }
  %dt Title:
  %dd= @event.title 

  %dt Starts at:
  %dd= @event.start_time 

  %dt Ends at:
  %dd= @event.end_time 

  %dt All day:
  %dd= @event.all_day 

  %dt Where:
  %dd= @event.where 

  %dt Description:
  %dd= @event.description 
