= form_for setup_access(@access), :html => { :class => 'form-horizontal' } do |f|
  - if @access.errors.any?
    #error_explanation
      %h2
        = pluralize(@access.errors.count, "error")
        prohibited this access from being saved:
      %ul
        - @access.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label "Type"
    .controls
      = f.fields_for :type_access, @access.type_access do |ff|
        = ff.text_field :name
  .control-group
    = f.label :login
    .controls
      = f.text_field :login
  .control-group
    = f.label :password
    .controls
      = f.text_field :password
  .control-group
    = f.label :address
    .controls
      = f.text_field :address
  .form-actions
    = f.submit nil, :class => "btn btn-primary"
