= render 'header'
.page-header
  %h1 Listing accesses
%table{ :class => "table table-striped" }
  %thead
    %tr
      %th Type
      %th Login
      %th Password
      %th Address
      %th
      %th
      %th
  - @accesses.each do |access|
    %tbody
      %tr
        %td= access.genre
        %td= access.login
        %td= access.password
        %td= access.address
        %td= link_to 'Show', [@project, access], :class => "btn btn-mini"
        %td= link_to 'Edit', edit_project_access_path(@project, access), :class => "btn btn-mini"
        %td= link_to 'Destroy', [@project, access], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger"
