= render 'header'

%p#notice= notice

%dl{ :class => "dl-horizontal" }
  %dt  Name:
  %dd= @project.name

  %dt Description:
  %dd= @project.description

= link_to "Events of this project", project_events_path(@project)
%br
= link_to "Issues of this project", project_issues_path(@project)
%br
= link_to "Access of this project", project_accesses_path(@project)