%div
  Pour créer une connexion Oauth il faut créer l'accès sur github suivez ce lien : 
  = link_to "Create access", "https://github.com/settings/applications/new"
  %br
  Ensuite récupérez le client id et le client secret de l'accès app créée, et remplissez le formulaire ci-dessous.
  = current_user.github_oauth_token
  - if current_user.github_oauth_token != ""
    L'accès semble déjà enregistré
= form_tag github_authorize_path, :html => { :class => 'form-horizontal' } do
  .control_group
    = label_tag "Client id"
    .controls
      = text_field_tag "client_id"
  .control_group
    = label_tag "Client secret"
    .controls
      = text_field_tag "client_secret"
  .form-actions
    = submit_tag "Create authorize url", :class => "btn btn-primary"
